body{
    text-align: center;
    margin: auto;
    background-color: blue;
}
#div1,#div2{
    display: inline-block;
    margin: auto;
    width: 100%;
    color: rgb(255, 233, 205);
    border: 10px solid #ddd;
    padding: 10px;
    text-align: center;
    background: greenyellow;
    height: 400px;
    cursor: pointer;

}