/* contoh selektor tas external */
p  {
    color: crimson;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
}
body{
    background-color: aquamarine;
    background-image: url(../img/bag.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
fieldset, legend{
    border-width: 1px;
    border-color: brown;
    border-radius: 30px;
}
legend{
    padding: 10px;
    background-color: brown;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
table{
    padding: 5px;
    border: 1px solid green;
}
tr{
    padding: 5px;
    border: 1px solid green;
}
tr:hover{
    background-color: blue;
    color: red;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}
/* contoh selektor id dapat masuk kesemua tag */
#paragraph {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px;
    color: aqua;
}

